body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.estiloCalc {
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Largura ajustada */
    height: 350px; /* Altura ajustada */
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
}

input[type="text"] {
    grid-column: span 4;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d1d1d6;
    padding: 0 10px;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

button {
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ac, .btn-sinal, .btn-porcentagem {
    background-color: #d9d9d9;
}

.btn-valor {
    background-color: #e6e6e6;
}

.btn-valor:hover {
    background-color: #cccccc;
}

.btn-operador, .btn-resultado {
    background-color: #ff9500;
    color: #fff;
}

.btn-operador:hover, .btn-resultado:hover {
    background-color: #e68a00;
}

.numZero {
    grid-column: span 2;
}